---
title: Edit-steps
bodyClass: is-gray
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{{ header.block({
		static: true
	}) }}

	<div class="inner">
		{{ mixins.steps({
			list: [
				{
					class: 'is-check',
					text: '1. Выберите категорию'
				},
				{
					class: 'is-check',
					text: '2. Общая информация'
				},
				{
					class: 'is-active',
					text: '3. Опишите шаги'
				},
				{
					text: '4. Проверка и публикация'
				}
			]
		}) }}
	</div>
	<div class="wrap">
		<div class="inner inner_md">
			
			</div>
			<!-- end classes -->
			
		</div>
	</div>

{% endblock %}
