---
title: Main - authorized
bodyClass: is-gray
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{{ header.block({
		static: true
	}) }}

	<div class="inner">
		{{ mixins.steps({
			list: [
				{
					class: 'is-active',
					text: '1. Выберите категорию'
				},
				{
					text: '2. Общая информация'
				},
				{
					text: '3. Опишите шаги'
				},
				{
					text: '4. Проверка и публикация'
				}
			]
		}) }}

		<div class="inner-sm">
			<!-- begin classes -->
			<div class="classes">
				{{ mixins.categ({

			}) }}
			</div>
			<!-- end classes -->
			
		</div>
	</div>

{% endblock %}
