<div class="general-form">
	<div class="general-form__control form-control">
		<input type="text" class="input input_lg">
	</div>
	<div class="general-form__control form-control">
		<label class="cover">
			<span class="cover__btn-wrap">
				<button class="btn btn_sm btn_bord-white cover__btn">удалить обложку</button>
				<button class="btn btn_sm btn_bord-white cover__btn">выбрать другой файл</button>
			</span>
			<span class="cover__img"></span>
			<span class="cover__bg"></span>
		</label>
	</div>
</div>